numpy
pandas
opencv-python
networkx
h5py
tqdm
vocab
revtok
Pillow
torch==1.6.0
torchvision
tensorboardX==1.8
ai2thor==2.1.0
matplotlib
tensorboard
seaborn==0.9.0
imageio==2.6.0
scikit-fmm==2019.1.30
scikit-image==0.15.0
scikit-learn==0.22.2.post1
ifcfg
